body {
    font-family: Arial;
    background-color: lightgoldenrodyellow;
    margin: 40px;
}

#main-title {
    color: darkred;
    text-align: center;
}

.hobby-list {
    color: darkgreen;
    font-size: 18px;
}

img {
    border-radius: 10px;
    border: 3px solid black;
}